body {
     background-color: #FFF;
     padding: 20px;
     margin: 0mm;   
    }
    h1, h2, p, ul, li {
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
                    }
    ul.header li {
        display: inline;
        list-style-type: none;
        margin: 0mm;
    }
    ul.header {
        background-color: #FFF;
        padding: 25px;
        margin: 0mm;}
h1, h2, p, ul, li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
ul.header li {
    display:inline;
    
}
ul.header {
    background-color:  #FFF;
    padding: 0mm;
}
ul.headers {
    background-color: #882e1c;
    padding: 25px;
    box-sizing: border-box;
    display: block;
    
}
ul.header li a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: #FFF;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
.h2{
    color: saddlebrown;
}

